
    .card--left{
        background: rgba(49, 81, 102, 0.933);
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
    }